{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}Django secure-js-login example project{% endblock %}

{% block content %}
    <h1>Example project test page.</h1>
    <h2>Try out:</h2>
    <ul>
        <li>
            <a href="{% url 'secure-js-login:login' %}">{% url 'secure-js-login:login' %} - secure JS login</a>
            <p>
            {% if debug %}
                settings.DEBUG is True: You will see <strong>detail error messages</strong> on failed login!
            {% else %}
                settings.DEBUG is False: You will only see a <strong>common error message</strong> on failed login!
            {% endif %}
            </p>
        </li>
        <li><a href="{% url 'honypot-login:login' %}">{% url 'honypot-login:login' %} - honypot login</a></li>
        <li><a href="{% url 'admin:index' %}">{% url 'admin:index' %} - Django Admin</a></li>
    </ul>
    <h3>Hacks:</h3>
    <p>
        To see the different error messages, heres a ugly hacked view to turn settings.DEBUG on/off:
    </p>
    <ul>
        {% if debug %}
            <li><a href="{% url 'debug_off' %}">{% url 'debug_off' %} - Disable DEBUG</a></li>
        {% else %}
            <li><a href="{% url 'debug_on' %}">{% url 'debug_on' %} - Enable DEBUG</a></li>
        {% endif %}
    </ul>
    <hr />
    <h2>project links</h2>
    <table>
        <tr>
            <td>Github</td>
            <td>
                <a href="https://github.com/jedie/django-secure-js-login">github.com/jedie/django-secure-js-login</a>
            </td>
        </tr>
        <tr>
            <td>Python Packages</td>
            <td>
                <a href="https://pypi.python.org/pypi/django-secure-js-login/">pypi.python.org/pypi/django-secure-js-login</a>
            </td>
        </tr>
        <tr>
            <td>Travis CI</td>
            <td>
                <a href="https://travis-ci.org/jedie/django-secure-js-login/">travis-ci.org/jedie/django-secure-js-login</a>
            </td>
        </tr>
        <tr>
            <td>Coveralls</td>
            <td>
                <a href="https://coveralls.io/r/jedie/django-secure-js-login/">coveralls.io/r/jedie/django-secure-js-login</a>
            </td>
        </tr>
    </table>
{% endblock content %}
