{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Django secure-js-login example project</title>
    <meta charset="utf-8">
    <meta name="robots" content="NONE,NOARCHIVE" />
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
</head>
<body>
    <h1>Example project test page.</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Try out:</p>
    <ul>
        <li><a href="{% url 'secure-js-login:login' %}">secure JS login</a></li>
        <li><a href="{% url 'honypot-login:login' %}">honypot login</a></li>
        <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
    </ul>
</body>
</html>
