{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrahead %}
<script type="text/javascript">
var challenge="{{ challenge }}"; {# changed via ajax, after wrong login #}
var next_url="{{ next_url }}";
</script>
<script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' packages='auth' %}" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script type="text/javascript" src="{% static 'secure_js_login/sha.js' %}" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script type="text/javascript" src="{% static 'secure_js_login/shared_sha_tools.js' %}" onerror="JavaScript:alert('Error loading file ['+this.src+'] !');"></script>
<script type="text/javascript">
var debug={{ debug }};
var OLD_SALT_LEN=parseInt("{{ old_salt_len }}");
var SALT_LEN=parseInt("{{ salt_len }}");
var HASH_LEN=parseInt("{{ hash_len }}");
var LOOP_COUNT=parseInt("{{ loop_count }}");
var salt=""; {# get via ajax #}
var secure_auth_url="{% url 'secure-js-login:secure_auth' %}";
var get_salt_url="{% url 'secure-js-login:get_salt' %}";
var ID_FORM="#login-form";
var ID_USERNAME="#id_username";
var ID_PASSWORD="#id_password";
var CSRF_COOKIE_NAME="{{ csrf_cookie_name }}";
jQuery(document).ready(function($) {
    init_secure_login();
});
</script>
{% endblock extrahead %}
